:root {
    --primary: #271344 !important;
    --secondary: #ff4880 !important;
    --green: #abcd52;
    --blue: #1ab9ff;
    --yellow: #ffc000;
    --dark-purple: #271344;
    --main-font: 'Fredoka', sans-serif !important;
    --italic-font: 'Schoolbell', sans-serif !important; 
  }
  
  * {
    text-decoration: none !important;
    list-style: none;
  }
  
  
  body {
    font-family: var(--main-font);
    overflow: hidden;
    overflow-y: auto;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #preloader img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    object-position: center center;
  }

  .link-nav{
    background-color: var(--primary);
  }
  
  .link-nav .container ul li img{
width: 16px;
}
  .link-nav .container .icons li {
width: 36px;
background-color: var(--blue);
height: 36px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
  .link-nav .container .icons :nth-child(2) {
background-color: var(--yellow);
}
  .link-nav .container .icons :nth-child(3) {
background-color: var(--secondary);
}
  .link-nav .container .icons :nth-child(4) {
background-color: var(--green);
}
.link-nav .container .icons li img{
    width: 14px;
  }
.link-nav .container ul li a{
    color: white ;
  }
  

  /* --------------------primary-nav------------------------- */
  
  


  .primary-nav {
    box-shadow: 1px 2px 10px black;
    text-transform: capitalize;
    background-color: white;
    position: relative;
    z-index: 999;
    width: 100%;
    transition: top 0.5s ease-in-out;
    top: 0%;
    position: static;
    transition: all 0.5s ease;
    
  }
  
  
  
  .primary-nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  

  .primary-nav .container .logo img{
width: 170px;
  }
  
  .primary-nav .container>ul{
    width: 65%;
  }
  
  
  .dropbtn {
    background-color:transparent;
  color: var(--primary);
  padding: 6px 16px ;
  font-size: 16px;
  font-weight: 550;
  letter-spacing: .2px;
  border: none;
  transition: all 0.5s ease;
  text-transform: capitalize;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: var(--primary);
  height: fit-content;
  padding: 20px 0;
}
.dropdown-content::before{
  display: block;
  position: absolute;
  content: '';
  width: 90%;
  height: 92%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 2px dashed var(--secondary);
  z-index: -11;
  opacity: .4;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  opacity: .6;
  color: black;
  padding: 16px 20px  0;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  transition: all .5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.074);
}
.dropdown-content a img{
  transition: all .5s;
  width: 14px;
  opacity: 0;
}
.dropdown-content .a-active,a:hover {
  color: var(--secondary);
  padding-left: 35px;
}
.dropdown-content a:hover img,.active-img{
opacity: 1;
}
.drop-img{
opacity: 1 !important;
}



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn,.dropbtn-active {background-color: var(--secondary);
color: white;}


.search-con{
  background-color: var(--secondary);
  width: 40px;
  height: 40px;
  position: relative;
}
.search-con img{
  width: 16px;
}
.search-con::before{
  background-color:transparent;
  width: 125%;
  height: 125%;
  content: '';
  display: block;
  border: 2px dashed var(--secondary);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
/* --------------------primary-nav------------------------- */





/* ------------------------section-hero---------------------- */
.hero{
  background: url(../imgs/hero/hero.jpg) no-repeat center ;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.hero-top {
  position: relative;
  width: 100%;
  height: 180px;
  margin:  0 auto;
}

.bird {
  position: absolute;
  top: 0;
  left: 18%;
  transform: translateX(-60%);
  width: fit-content;
  height: 100px;
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    top: 0;
  }

  50% {
    top: 50px;
  }

  100% {
    top: 0;
  }
}


.cloud {
  position: absolute;
  top: 0%;
  animation: cloud 5s linear infinite;
}

@keyframes cloud {
  0% {
    right: 0;
  }

  25% {
    right: 5%;
  }

  50% {
    right: 0;
  }

  75% {
    right: -10px;
  }

  100% {
    right: 0;
  }
}



.hero-content {
position: relative;
}
.hero-content h1{
  color: var(--primary);
  font-weight: bolder;
  font-size: 3.4rem;
}
.hero-content h6{
  color: var(--secondary);
  font-weight: bolder;
  font-size: 1.8rem;
  font-family: var(--italic-font);
}
.hero-content p{
  font-size: 1.2rem;
  color: gray ;
}
 .btn{
 color: #fff;
 background-color: var(--secondary);
 font-weight: bold;
 padding: 12px 18px !important;
 transition: all 0.5s ease;
}
.btn:hover{
   color: #fff;
 background-color: var(--primary);
}
/* ------------------------section-hero---------------------- */
/* ------------------------value---------------------- */


.top-content h1{

  color: var(--primary);
  font-weight: bolder;
  font-size: 2.6rem;
}
.top-content h6{
  
  letter-spacing: 4px;
  color: var(--secondary);
  font-weight: bolder;
  font-size: 1rem;
  font-family: var(--italic-font);

}
.top-content p{
  font-size: 1rem;
  color: gray ;
}

.moving-bee {
  position:relative;
  width: 126px;
  margin: 0 auto;
}
.moving-bee img{
  position: absolute;
  animation: cloud 5s linear infinite;
}

.value-card{
  text-align: center;
  border-radius: 20px;
  padding: 2rem 1rem;
  color: white;
  position: relative;
  transition: 0.6s;
  z-index: 111;
  background-color: #ff2a6a;
}
.value-card-2{
  background-color: var(--yellow);
}
.value-card-3{
  background-color: var(--green);
}
.value-card-4{
  background-color: var(--blue);
}
.value-card:hover {
  transform: translateY(-8%);
}
.value-card:hover figure::before{
  animation: rotate 12s infinite linear;
  
}
.value-card:hover img{
  transform: rotateY(180deg);
  
}
.value-card::before{
  background-color: var(--secondary);
  border-radius: 20px;
  z-index: -111;
  width: 100%;
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  bottom: 3%;
  left: 0%;
}
.value-card-2::before{
 background-color: #fac526;
}
.value-card-3::before{
 background-color: #bddf64;
}
.value-card-4::before{
 background-color: #39bff8;
}
.value-card h1{
  background-color: var(--secondary);
  font-size: 26px;
  font-weight: bolder;
  background-color: transparent;
}
.value-card p{
font-size: 16px;
}
.value-card figure{
  width: 145px;
  height: 145px;
  border-radius: 50%;
  position: relative;
}
.value-card figure::before{
  width: 115%;
  height: 115%;
  border-radius: 50%;
  display: block;
  content: '';
  background-color: transparent;
  border: 2px dashed white;
  position: absolute;
  top: -7.5%;
  left: -7.5%;
}
.value-card figure img{
  border-radius: 50%;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center center;
transition: all 0.5s  ease;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.value-bottom-content h2{
  color: var(--primary);
  font-weight: bolder;
}
.value-bottom-content span{
  color: var(--secondary);
}
.value-bottom-content p{
  color: rgba(128, 128, 128, 0.748);
  font-weight: bolder;
  letter-spacing: 1px;
}
.value-bottom .btn{
  background-color: var(--secondary);
  color: white;
  padding: 10px 12px !important;
  position: relative;
}
.value-bottom .btn::before{
  background-color: #d5164fed;
  z-index: -1;
  position: absolute;
  width: 100%;
  content: '';
  display: block;
  left: 0 ;
  border-radius: 8px;
  transition: all 6s ease-in-out ;
}
.value-bottom .btn:hover::before{
  height: 100%;
  bottom: -6px;
}









/* ------------------------section-value---------------------- */
/* ------------------------section-about---------------------- */
.about{
  background-color: #ffa8c211;

}

.about figure{
  position: relative; 
  height: 100%;
  width: 50%;
}
.about img{
  position: absolute;
  top: 0%;
  animation: cloud 5s linear infinite;
  width: 100%;
}

.about-content h1{
color: var(--primary);
font-weight: bold;
}
.about-content p{
  color: gray;

}

.about-inner-content .box h6{
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
}
.about-inner-content .box p{
  color: gray;

}


/* ------------------------section-about---------------------- */
/* ------------------------section-activites---------------------- */


.activites .top-content p{ 
color: rgba(128, 128, 128, 0.705);
}

.activites .sun{ 
  position: relative;
  width: 180px; 
}
.activites .sun img{ 
  
  position: absolute;
  top: 0%;
  animation: cloud 5s linear infinite;
}
.activites figure{ 
  position: relative;
  width: 180px; 
}
.activites figure img{ 
  
  position: absolute;
  top: 0%;
  animation: move 5s linear infinite;
}



















/* ------------------------section-activites---------------------- */



  

  

  



  
  
  
  

  
  /* -------------------scroll_btn----------------- */
  .to-top {
    position: fixed;
    background: var(--secondary);
    right: 32px;
    bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 111111;
    padding: .4rem;
    padding-left: .6rem;
    height: 36px;
    width: 32px;
  }
  
  .to-top:hover {
    background-color: #ff2a6a;
  }
  
  .to-top::before {
    content: '';
    display: block;
    width: 78%;
    height: 78%;
    background-color: transparent;
    border: 1px dashed white;
    position: absolute;
    left: 8%;
  }
  
  .to-top.active {
    bottom: 10%;
    pointer-events: auto;
    opacity: 1;
  }
  
  .arrow {
    width: 18px;
    margin-right: 6px;
  }
  
  /* -------------------scroll_btn----------------- */
  
  
  
  
  
  
  
  
  
  /* ------------------breakpoints-------------- */
  
  
  
  /* // `xs` returns only a ruleset and no media query */
  /* // ... { 
  
  } */
  
  /* // `sm` applies to x-small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {}
  
  /* // `md` applies to small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {}
  
  /* // `lg` applies to medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {}
  
  /* // `xl` applies to large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) {}
  
  /* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
  @media (max-width: 1399.98px) {}
  
  /* ------------------breakpoints-------------- */